/* * PC */
@media (max-width: 1200px) {
    [class*="__container"] {
        max-width: 900px;
    }
}

/* * TEBLET */
@media (max-width: 991.98px) {
    h1 {
        font-size: 40px;
    }
    [class*="__container"] {
        max-width: 750px;
    }
    [class*="__block"] {
        margin-bottom: 30px;
    }
    .date {
        margin: 8px 0;
        margin-bottom: 6px;
    }
    .education-title {
        margin-bottom: 10px;
    }
    .sidebar,
    .img  {
        max-width: 230px;
    }
    .sidebar-contacts,
    .sidebar-tech,
    .sidebar-soft,
    .sidebar-additional,
    .sidebar-languages {
        margin-left: 17px;
        margin-bottom: 27px;
    }
    .sidebar-title {
        font-size: 18px;
    }
    .sidebar-info {
        margin: 7px 0;
    }
}

/* * MOBILE 425px */ 
@media (max-width: 761px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 12px;
    }
    .wrapper {
        flex-direction: column-reverse;
    }
    .projects-items span, a {
        margin: 0;
    }
    .sidebar {
        max-width: 100%;
    }
    .sidebar h2,
    .img,
    .sidebar-contacts,
    .sidebar-info,
    .sidebar-title,
    .contact-icon,
    .contact-link,
    .sidebar-tech,
    .sidebar-soft,
    .sidebar-additional,
    .sidebar-languages,
    .wrapper {
        margin: 0;
    }
    .two-box {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        padding: 5px;
    }
    .img {
        max-width: 150px;
        padding: 5px;

        border-radius: 10px;
    }
    .name {
        display: flex;

        font-size: 20px;

        color: #ffff;
    }
    .sidebar-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        padding: 5px;
    }
    .sidebar-title span {
        display: none;
    }
    .contact-icon {
        padding: 5px;
    }
    .main__container {
        border-radius: 0;
    }
    .main-content {
        padding: 20px;
    }
}

@media (max-width: 375px) {
    .img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 12px;
    }
    .two-box {
        margin: 10px;
    }
}