/* * PC */
@media (max-width: 1200px) {
    [class*="__container"] {
        max-width: 900px;
    }
}

/* * TEBLET */
@media (max-width: 991.98px) {
    h1 {
        font-size: 40px;
    }
    [class*="__container"] {
        max-width: 750px;
    }
    [class*="__block"] {
        margin-bottom: 30px;
    }
    .date {
        margin: 8px 0;
        margin-bottom: 6px;
    }
    .education-title {
        margin-bottom: 10px;
    }
    .sidebar,
    .img  {
        max-width: 230px;
    }
    .sidebar-contacts,
    .sidebar-tech,
    .sidebar-soft,
    .sidebar-additional,
    .sidebar-languages {
        margin-left: 17px;
        margin-bottom: 27px;
    }
    .sidebar-title {
        font-size: 18px;
    }
    .sidebar-info {
        margin: 7px 0;
    }
}

/* * MOBILE 425px */ 
@media (max-width: 761px) {
    h1 {
        margin: 0;
        position: absolute;
        top: 18px;
        left: 240px;
        font-size: 16px;
        color: #FB6D3A;
    }
    .wrapper {
        flex-direction: column-reverse;
    }
    .projects-items span, a {
        margin: 0;
    }
    .sidebar {
        max-width: 100%;
    }
    .about__block h2 {
        display: none;
    }
    .img,
    .sidebar-contacts,
    .sidebar-info,
    .contact-icon,
    .contact-link,
    .sidebar-tech,
    .sidebar-soft,
    .sidebar-additional,
    .sidebar-languages,
    .wrapper {
        margin: 10px;
    }
    .sidebar-title {
        margin-bottom: 6px;
    }
    .two-box {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 5px;
    }
    .img {
        max-width: 150px;
        padding: 5px;

        border-radius: 10px;
    }
    .name {
        padding: 25px 0 0 0;
        margin: 0 0 10px;
        display: flex;

        font-size: 20px;

        color: #ffff;
    }
    .sidebar-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        padding: 5px;
    }
    .sidebar-title span {
        display: none;
    }
    .contact-icon {
        padding: 5px;
    }
    .main__container {
        border-radius: 0;
    }
    .main-content {
        padding: 10px;
    }
}

@media (max-width: 375px) {
    h1 {
        top: 10px;
        left: 200px;
    }
    h2 {
        font-size: 12px;
    }
    .img {
        max-width: 100px;
        max-height: 100px;
    }
    .name {
        padding: 10px 0 0;
        margin: 0 0 8px;
    }
    .info h3 {
        display: none;
    }

}

@media (max-width: 320px) {
    body {
        font-size: 12px;
    }
    h1 {
        left: 180px;
        font-size: 14px;
    }
    .name {
        margin: 0;
    }
    .two-box {
        margin: 10px;
    }
}