a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

img {
    vertical-align: top;
}

body {
    font-family: 'Calibri', 'Arial', sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 0;
}

h1 {
    margin-bottom: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    word-spacing: 10px;
}

h2 {
    margin-bottom: 19px;

    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

li {
    line-height: 1.7;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}

[class*="__block"] {
    margin-bottom: 50px;
    padding: 0;
}

/* color */
.orange-mark {
    color: #FB6D3A;
}

.black-line {
    padding: 0 5px;

    font-weight: 500;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-direction: row-reverse;
    margin: 8px auto;
}

.main__container {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.main-content {
    padding: 50px 250px 100px 90px;

    background: #FFFFFF;
}

.about-content {
    margin: 0;
    width: 500px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: #595959;
}

.projects-title,
.work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

.work-title {
    margin-bottom: 14px;
}

.projects-content {
    padding: 0;
    margin-left: 20px;
}

.projects-list,
.projects-link {
    margin-left: 13px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: #595959;
}

.projects-items {
    font-style: normal;
    font-weight: 700;
    line-height: 1.7;
}

.company {
    margin-bottom: 16px;
}

.company-title {
    padding: 0;
    margin-bottom: 11px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
}

.date {
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;

    color: #A8A8A8;
}

.company-list {
    padding: 0;
    margin-left: 20px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: #595959;
}

.education-title {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

.education-management { 
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.sidebar {
    padding-top: 0px;
    width: 360px;

    background: #1E2939;
}

.img {
    width: 360px;
    margin-bottom: 30px;

    border-radius: 20px 0 0 0;
}

.sidebar-contacts, 
.sidebar-tech, 
.sidebar-soft,
.sidebar-additional,
.sidebar-languages {
    margin-left: 40px;
    margin-bottom: 47px;
}

.sider-title {
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;

    color: #FFFFFF;
}

.contact-icon {
    padding-right: 10px;

    font-style: normal;
    font-weight: 700;
    line-height: 1.7;

    color: #FFFFFF;
}
.contact-link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;  

    color: #FFFFFF;
    opacity: .5;

    transition: opacity .2s ease 0s;
}

.contact-link:hover {
    opacity: 1;
}

.list {
    padding: 0px;
    margin-left: 20px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: #FFFFFF;
}

.list-li {
    color: #FB6D3A;
}

.list-text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    color: #FFFFFF;
}